name: 03 SCA

on:
  workflow_dispatch:
  workflow_call:

jobs:
  sca:
    name: Dependency Scan (Trivy)
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Dependency Scan (Trivy FS)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'sarif'
          output: 'trivy-sca-results.sarif'
          severity: 'CRITICAL,HIGH'
      
      - name: Upload SCA Results
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'trivy-sca-results.sarif'
          category: 'trivy-sca'